extends ../layout 

block content
    a(href='/') Home
    br
    a(href='/bicycles') List
    br
    h1 Update bicycle 
    form(action=`/bicycles/${bicycle.id}/update?_method=PUT` method='POST')
        table.table 
            tr 
                td
                    label(for='id') ID:
                td
                    input#id(type='text' name='id' value=bicycle.id)
            tr 
                td
                    label(for='color') Color:
                td
                    input#color(type='text' name='color' value=bicycle.color)
            tr 
                td
                    label(for='model') Model:
                td
                    input#model(type='text' name='model' value=bicycle.model)
            tr 
                td
                    label(for='lat') Location (lat):
                td
                    input#lat(type='text' name='lat' value=bicycle.lat)
            tr 
                td
                    label(for='lon') Location (lat):
                td
                    input#lon(type='text' name='lon' value=bicycle.lon)
            tr
                td 
                td
                    input.btn(type='submit' value='Update')